/* Place custom styles below */
/*#region 'Working on it' busy dialog" */
#lhc-workingOnIt-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #ccc /* fallback for old browsers */;
    background: rgba(204, 204, 204, .5);
}

#lhc-workingOnIt-message {
    /*text-align: center;*/
    top: 50%;
    left: 50%;
    width: 25em;
    height: 6em;
    margin: -2em auto 0 -10em /* top is half of height and left is half of width*/;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 1px 1px 10px 0 rgba(50, 50, 50, 0.6);
    padding: 15px 15px 0 15px;
    border-radius: 5px;
}

    #lhc-workingOnIt-message img {
        width: 40px;
    }

    #lhc-workingOnIt-message span.lpm-workingOnIt-accentText {
        font-size: 36px;
        font-family: "Segoe UI Light", "Segoe UI", Tahoma, Helvetica, Arial,sans-serif;
    }
/*#endregion */

/*#region SHP CRHOME BAR*/
#suiteBarLeft {
    background-color: #333333;
    color: #fff;
    width: 100%;
    vertical-align: middle;
}
/*#endregion */
/*#region ANGULAR LOADING BAR*/
#loading-bar .bar {
    background: #911817;
    top: 30px;
}

#loading-bar .peg {
    -moz-box-shadow: #911817 1px 0 6px 1px;
    -ms-box-shadow: #911817 1px 0 6px 1px;
    -webkit-box-shadow: #911817 1px 0 6px 1px;
    box-shadow: #911817 1px 0 6px 1px;
}

#loading-bar-spinner {
    top: 35px;
}

    #loading-bar-spinner .spinner-icon {
        border-top-color: #911817;
        border-left-color: #911817;
    }
/*#endregion */

/*#region angular dissolve animation */
.dissolve-animation.ng-hide-remove {
    display: inline !important;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    -webkit-transition: 0.8s linear all;
    -moz-transition: 0.8s linear all;
    -o-transition: 0.8s linear all;
    transition: 0.8s linear all;
}

    .dissolve-animation.ng-hide-remove.ng-hide-remove-active,
    .dissolve-animation.ng-hide-add {
        opacity: 1;
    }

        .dissolve-animation.ng-hide-add.ng-hide-add-active,
        .dissolve-animation.ng-hide-remove {
            opacity: 0;
        }
/*#endregion */

/*#region animation container - ensure animate only the body of the page*/
.view-container {
    position: relative;
    overflow: hidden;
}

#contentBox {
    margin-left: 200px;
}
/*#endregion*/

/*#region angular shuffle animation */
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
    position: relative;
}

.shuffle-animation.ng-enter {
    -moz-transition: ease-out all 0.3s 0.4s;
    -o-transition: ease-out all 0.3s 0.4s;
    -webkit-transition: ease-out all 0.3s 0.4s;
    transition: ease-out all 0.3s 0.4s;
    left: 2em;
    opacity: 0;
}

    .shuffle-animation.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
    }

.shuffle-animation.ng-leave {
    -moz-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    -webkit-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
    left: 0;
    opacity: 1;
}

    .shuffle-animation.ng-leave.ng-leave-active {
        left: 2em;
        opacity: 0;
    }

/*#endregion */

/*#region sidebox navbar quicklaunch*/
#sideNavBox {
    margin-top: 0;
}

ul.nav.nav-sidebar > li {
    /* background-color: #d3d3d1; */
    /*border-top: 2px solid #FFF;
    border-bottom: 1px solid #FFF;*/
    /*font-size: 18px;
    font-weight: bold;*/
}

    ul.nav.nav-sidebar > li > a {
        border-top: 2px solid #FFF;
        border-bottom: 1px solid #d3d3d1;
        font-size: 18px;
        font-weight: bold;
        color: rgba(50, 50, 50, 0.6);
    }

    ul.nav.nav-sidebar > li.active a,
    ul.nav.nav-sidebar > li.active a:visited {
        /* background-color: #d3d3d1; */
        /*border-top: 2px solid #FFF;*/
        /*border-bottom: 1px solid #FFF;
        color: rgba(50, 50, 50, 0.6);
        text-decoration: none;*/
    }

    ul.nav.nav-sidebar > li > a:hover {
        border-top: 2px solid #917B61 !important;
        border-bottom: 1px solid #d3d3d1;
    }



/*#endregion */

/*#region ngView main section */
#content.view-container {
    /*margin-top: 35px;*/
}

#contentRow {
    padding-top: 50px;
}

/*#endregion */

/*#region Add Client Form*/
#password-generator {
    margin-top: 24px;
}
/*#endregion */

/*#region Client Dashboard Bootstrap  Section*/

/*#endregion*/

/*#region Add/Edit Client */
.modal-title {
    font-size: 18px;
    font-weight: bold;
}
/*#endregion*/

/*#region Client Details Section*/
.client-field.ng-binding {
    display: inline;
}

.field-name {
    font-style: italic;
    font-weight: bold;
    text-align: right;
}

#contracts table {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 2px;
}

.dropzone {
    min-height: 100px;
}
/*#endregion*/

/*#region details table Section*/
.nav-tabs > li > div {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

    .nav-tabs > li > div:hover {
        border-color: #eee #eee #ddd;
    }

.nav-tabs > li.active > div, .nav-tabs > li.active > div:hover {
    color: #555;
    cursor: default;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-bottom-color: transparent;
}

.nav > li > div {
    position: relative;
    display: block;
    padding: 10px 15px;
}

    .nav > li > div:hover {
        background-color: #eee;
    }

.uib-tab > div {
    color: #337ab7;
    cursor: pointer;
}

.nav-tabs > li.disabled > div {
    color: #999;
}

    .nav-tabs > li.disabled > div:hover, .nav-tabs > li.disabled > div:focus {
        color: #999;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
    }

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}
/*#endregion*/
