<div>
    <!-- DETAILS SECTION ClientDetailsCtrl -->
    <div class="container" data-ng-controller="ClientDetails">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Client Details Job #{{client.ClientJobNumber}}</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Name</div>
                                <div class="col-xs-8 client-field">{{client.ClientsFirstName}} {{client.ClientsLastName}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Address</div>
                                <div class="col-xs-8 client-field">{{client.ClientsAddress}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Phone</div>
                                <div class="col-xs-8 client-field">{{client.ClientsPhone}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Suburb</div>
                                <div class="col-xs-8 client-field">{{client.ClientsSuburb}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Email</div>
                                <div class="col-xs-8 client-field"><a href="mailto:{{client.ClientsEmail}}">{{client.ClientsEmail}}</a></div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">City</div>
                                <div class="col-xs-8 client-field">{{client.ClientsCity}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Status</div>
                                <div class="col-xs-8 client-field">{{client.ClientsProjectStatus}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Postcode</div>
                                <div class="col-xs-8 client-field">{{client.ClientsPostcode}}</div>
                            </div>
                        </div>

                        <div class="row bg-danger user-credentials">
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">UserName</div>
                                <div class="col-xs-8 client-field">{{client.ClientUserName}}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xs-4 field-name">Password</div>
                                <div class="col-xs-8 client-field">{{client.ClientPassword}}</div>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-1">
                        <button type="button" class="btn btn-success btn-sm btn-block" ng-click="editClientForm()">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm btn-block" ng-click="deleteClient()">Delete</button>
                    </div>

                    <div class="col-md-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Client Details</h3>
                            </div>
                            <div class="panel-body">
                                {{client.ClientsNotes}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li><em>Created: </em>{{client.Created | date: fullDate}}</li>
                            <li><em>Modified: </em>{{client.Modified | date: fullDate}}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- TABS SECTION -->
    <div class="container" ng-controller="ClientTabsCtrl">

        <uib-tabset>

            <uib-tab ng-repeat="tab in Tabs" heading="{{tab.name}}" select="getTabData(tab.name)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-4">
                                <label for="search">Search:</label>
                                <input ng-model="searchQuery" id="search" class="form-control" placeholder="Filter text">
                            </div>
                            <div class="col-md-2">
                                <label for="search">items per page:</label>
                                <input type="number" min="1" max="100" class="form-control" ng-model="itemsPerPage">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Modified</th>
                                    <th>Modified By</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-show="showSpinner">
                                    <td>
                                        <span us-spinner="{radius:15, width:14, length: 12, color: '#0072c6'}" spinner-on="showSpinner"></span>
                                    </td>
                                </tr>
                                <tr ng-repeat="file in tabDocs | filter: searchQuery">
                                    <td><a ng-href="{{file.EncodedAbsUrl}}" target="_blank">{{file.FileLeafRef}}</a> </td>
                                    <td>{{file.Modified | date}}</td>
                                    <td>{{file.Author.Title}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="col-md-10 col-md-offset-1">
                            <!--<p class="size" data-dz-size></p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>-->
                            <div class="well">
                                <form action="" class="dropzone dz-clickable needsclick" dropzone="dropzoneConfig" dropzonereference="dropZoneCtrl" id="dropzone">
                                    <div class="dz-default needsclick"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
