<div class="dialog-container ng-scope fadeIn">
    <div class="dialog show-dialog" id="confirm">
        <div class="dialog-body text-center" style="min-width:250px;min-height:50px;display:flex;display:-webkit-flex;align-items:center;justify-content:center;align-items:center;">
            <div style="display:flex;display:-webkit-flex;">Example Text</div>
        </div>
        <div class="dialog-footer">
            <button ng-click="decline()">Cancel</button>
            <button ng-click="accept()">Submit</button>
        </div>
    </div>
</div>