<div class="container" data-ng-controller="clientsDashCtrl">

    <div class="row">
        <div class="col-md-12">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td class="ms-list-addnew ms-textXLarge ms-list-addnew-aligntop ms-soften">
                            <a href="" ng-click="newClientForm()" class="ms-heroCommandLink">
                                <span class="ms-list-addnew-imgSpan20">
                                    <img src="/_layouts/15/images/spcommon.png" class="ms-list-addnew-img20" />
                                </span>
                                <span>Add New Client</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Clients List</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>eMail</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="client in Clients" data-ng-click="goToClient(client)">
                        <th scope="row">{{client.ID}}</th>
                        <td>{{client.ClientsFirstName}}</td>
                        <td>{{client.ClientsLastName}}</td>
                        <td>{{client.ClientsPhone}}</td>
                        <td><a href="mailto:{{client.ClientsEmail}}">{{client.ClientsEmail}}</a></td>
                        <td>{{client.ClientsProjectStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>